---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Profile from "../../components/Profile.astro";
import { themes } from "../../scripts/themes";
import Footer from '../../components/Footer.astro';
import "../../styles/bubblegum.css";
import "../../styles/retro.css";
import "../../styles/minimal.css";

// Considerando que se tenga una API con la estructura de datos de los perfiles
// const { id } = Astro.params;
// const response = await fetch(`/api/profiles/${id}`);
// const profileData = await response.json();

const { theme } = Astro.params;
const profileData = themes[theme] || themes.default;

export async function getStaticPaths() {
  const themes = ["bubblegum", "retro", "minimal"];

  return themes.map((theme) => ({
    params: { theme },
  }));
}




---

<BaseLayout pageTitle={theme.toUpperCase()}>
  <div class={theme} style="min-height: 100vh; width: 100%;">
    <div class="profileWrapper">
      <Profile {...profileData} />
      <Footer />
    </div>
  </div>
</BaseLayout>
