---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
import Themes from "../components/Themes.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Choose your theme</h1>
  <Themes />
</BaseLayout>
