---
const links = [
  { name: "Tip My Jar", url: "https://venmo.com" },
  { name: "New Books", url: "https://kindle.com" },
  { name: "Music", url: "https://spotify.com" },
];
---

<div class="links-section">
  {
    links.map((link) => (
      <a href={link.url} class="link-item" target="_blank">
        {link.name}
      </a>
    ))
  }
</div>
