---
const { links } = Astro.props;
---

<div class="links-section">
  {
    links.map((link) => (
      <a href={link.url} class="link-item" target="_blank">
        {link.name}
      </a>
    ))
  }
</div>
